h2{
	color: #FF5349;
}
body{
	background-color: #292C44;
	color:white;
}
th{
	background-color: #18CDCA;
	color: white;
}
table{
	border-collapse: collapse;
	border: 2px solid black;
}
td, th{
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
}	