legend{
	color:#18CDCA;
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;

}
body{
	background-color:#292C44;
	color:#4F80E1;
}
h2{
	text-align: center;
	color: #FF5349;
	font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}
fieldset{
	width: 250px;
	position: relative;
	left: 350px;
}
button{
	position: relative;
	left: 350px;
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	cursor: pointer;
	font-weight: bold;
}

label{
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

input{
	
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	cursor: pointer;
}

table{
	text-align:center;
	margin:0 auto;
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	
}