.rojo{
	background-color: #FF5349;
	border-radius: 4px;
}
.verde{
	background-color: #4CAF50;
	border-radius: 4px;
}
h2{
	text-align: center;
	color: #FF5349;
	font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}
legend{
	font-weight: bold;
	color: #18CDCA;
}
body{
	background-color:#292C44;
	color:#4F80E1;
}
td{
	color: white;
	border: 1px solid black;
} 
th{
	color: white;
	border: 1px solid black;
	background-color: #18CDCA;
	
}

table{
	text-align:center;
	margin:0 auto;
	border-collapse: collapse;
	border: 2px solid black;
	border-collapse: collapse;
	border: 2px solid black;
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#registrar{
	background-color: #4F80E1;
	border-radius: 4px;
}

button{
	position: relative;
	left: 350px;
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	cursor: pointer;
	font-weight: bold;
}

